<div class="content">
  <h1>TypeScript</h1>
  <hr>
  <div class="text">
  TypeScript is an open-source programming language developed and maintained by Microsoft. It is a strict syntactical superset of JavaScript, and adds optional static typing to the language.

  TypeScript is designed for development of large applications and transcompiles to JavaScript.[5] As TypeScript is a superset of JavaScript, existing JavaScript programs are also valid TypeScript programs. TypeScript may be used to develop JavaScript applications for both client-side and server-side (Node.js) execution.

  There are multiple options available for transcompilation. Either the default TypeScript Checker can be used,[6] or the Babel compiler can be invoked to convert TypeScript to JavaScript.[7]

  TypeScript supports definition files that can contain type information of existing JavaScript libraries, much like C++ header files can describe the structure of existing object files. This enables other programs to use the values defined in the files as if they were statically typed TypeScript entities. There are third-party header files for popular libraries such as jQuery, MongoDB, and D3.js. TypeScript headers for the Node.js basic modules are also available, allowing development of Node.js programs within TypeScript.[8]

  The TypeScript compiler is itself written in TypeScript and compiled to JavaScript. It is licensed under the Apache 2.0 License.

  TypeScript is included as a first-class programming language in Microsoft Visual Studio 2013 Update 2 and later, beside C# and other Microsoft languages.[9] An official extension allows Visual Studio 2012 to support TypeScript as well.[10]

  Anders Hejlsberg, lead architect of C# and creator of Delphi and Turbo Pascal, has worked on the development of TypeScript.
  </div>

  <div>
  <ul>
      <h4>Contents</h4>
      <li> History</li>
      <li> 2 Language design</li>
      <ul>
        2.1 ECMAScript 2015 support
      </ul>
      <li> 3 Language features</li>
      <ul>
        3.1 Compatibility with JavaScript
      </ul>
      <ul>
        3.2 Type annotations
        <ul> 3.2.1 Declaration files</ul>
      </ul>
      <ul> 3.3 Classes</ul>
      <ul> 3.4 Generics</ul>
      <ul> 3.5 Modules and namespaces</ul>
      <li> 4 Development tools</li>
      <ul> 4.1 Compiler</ul>
      <ul> 4.2 IDE and editor support</ul>
      <ul> 4.3 Integration with build automation tools</ul>
      <ul> 4.4 Linting tools</ul>
      <li> 5 Release history</li>
      <li> 6 See also</li>
      <li> 7 References</li>
      <ul> 7.1 Citations</ul>
      <ul> 7.2 Sources</ul>
      <li> 8 External links</li>
      </ul>
  </div>

  <h4>History</h4>
  <hr>
  <div class="text">
  TypeScript was first made public in October 2012 (at version 0.8), after two years of internal development at Microsoft.[15][16] Soon after the announcement, Miguel de Icaza praised the language itself, but criticized the lack of mature IDE support apart from Microsoft Visual Studio, which was not available on Linux and OS X at that time.[17][18] Today there is support in other IDEs, particularly in Eclipse, via a plug-in contributed by Palantir Technologies.[19][20] Various text editors, including Emacs, Vim, Sublime, Webstorm, Atom[21] and Microsoft's own Visual Studio Code also support TypeScript.[22]

  TypeScript 0.9, released in 2013, added support for generics.[23] TypeScript 1.0 was released at Microsoft's Build developer conference in 2014.[24] Visual Studio 2013 Update 2 provides built-in support for TypeScript.[25]

  In July 2014, the development team announced a new TypeScript compiler, claiming 5× performance gains. Simultaneously, the source code, which was initially hosted on CodePlex, was moved to GitHub.[26]

  On 22 September 2016, TypeScript 2.0 was released; it introduced several features, including the ability for programmers to optionally prevent variables from being assigned null values,[27] sometimes referred to as the billion-dollar mistake.
  </div>

  <h4>Language design</h4>
  <hr>
  <div class="text">
  TypeScript originated from the shortcomings of JavaScript for the development of large-scale applications both at Microsoft and among their external customers.[28] Challenges with dealing with complex JavaScript code led to demand for custom tooling to ease developing of components in the language.[29]

  TypeScript developers sought a solution that would not break compatibility with the standard and its cross-platform support. Knowing that the current ECMAScript standard proposal promised future support for class-based programming, TypeScript was based on that proposal. That led to a JavaScript compiler with a set of syntactical language extensions, a superset based on the proposal, that transforms the extensions into regular JavaScript. In this sense TypeScript was a preview of what to expect of ECMAScript 2015. A unique aspect not in the proposal, but added to TypeScript, is optional static typing[30] that enables static language analysis, which facilitates tooling and IDE support.
  </div>

  <h4>ECMAScript 2015 support</h4>
  <hr>
  <div class="text">
  Main article: ECMAScript § 6th Edition - ECMAScript 2015
  TypeScript adds support for features such as classes, modules, and an arrow function syntax as defined in the ECMAScript 2015 standard.
  </div>
  <h4>Language features</h4>

  TypeScript is a language extension that adds features to ECMAScript 6. Additional features include:

  <ul>
    <li>Type annotations and compile-time type checking</li>
    <li>Type inference</li>
    <li>Type erasure</li>
    <li>Interfaces</li>
    <li>Enumerated types</li>
    <li>Generics</li>
    <li>Namespaces</li>
    <li>Tuples</li>
    <li>Async/await</li>
  </ul>
  The following features are backported from ECMAScript 2015:
  <ul>
    <li>Classes</li>
    <li>Modules[31]</li>
    <li>Abbreviated "arrow" syntax for anonymous functions</li>
    <li>Optional parameters and default parameters</li>
  </ul>

  <div class="text">
  Syntactically, TypeScript is very similar to JScript .NET, another Microsoft implementation of the ECMA-262 language standard that added support for static typing and classical object-oriented language features such as classes, inheritance, interfaces, and namespaces.

  Compatibility with JavaScript
  TypeScript is a strict superset of ECMAScript 2015, which is itself a superset of ECMAScript 5, commonly referred to as JavaScript.[32] As such, a JavaScript program is also a valid TypeScript program, and a TypeScript program can seamlessly consume JavaScript. By default the compiler targets ECMAScript 5, the current prevailing standard, but is also able to generate constructs used in ECMAScript 3 or 2015.

  With TypeScript, it is possible to use existing JavaScript code, incorporate popular JavaScript libraries, and call TypeScript-generated code from other JavaScript.[33] Type declarations for these libraries are provided with the source code.
  </div>
</div>
